extends ../layout/indexAdmin

block styles  
    style.
        #myTable_info, #myTable_paginate {
            font-size: 0.75rem;  // Ajusta el tamaño de letra según tus preferencias
        }
        .dataTables_filter input {
             font-size: 0.75rem;  // Ajusta el tamaño de letra del campo de búsqueda
        }

block content 
    nav(class="bg-amber-500 border p-2 font-extrabolder h-30 text-xl")
        p#msg.text-white.text-center.py-10 Bienvenido #{loggedUser.name} 

    .bg-white.shadow.py-8.px-4.rounded-xl.mx-auto.max-w-full.my-10.text-center.font-extrabold.space-y-5(class="md:px-10 text-lg") 
        p Control de reservas
        div.relative.overflow-x-auto.py-10
            table#myTable.table(class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400")
                thead(class="text-xs text-black font-extrabold uppercase bg-amber-400 text-black")
                    tr
                        th(scope="col" class="px-6 py-3")
                            | ID
                        th(scope="col" class="px-6 py-3")
                            | Tipo de Reserva
                        th(scope="col" class="px-6 py-3")
                            | Fecha
                        th(scope="col" class="px-6 py-3")
                            | Hora
                        th(scope="col" class="px-6 py-3")
                            | Codigo
                tbody
                    each reservacion in reservacions
                        tr
                            td(class="px-6 py-4 whitespace-nowrap")
                                | #{reservacion.id}
                            td(class="px-6 py-4 whitespace-nowrap")
                                | #{reservacion.tipoReserva}
                            td(class="px-6 py-4 whitespace-nowrap")
                                | #{reservacion.fecha}
                            td(class="px-6 py-4 whitespace-nowrap")
                                | #{reservacion.hora}
                            td(class="px-6 py-4 whitespace-nowrap")
                                | #{reservacion.status === 1 ? 'Activo' : 'Inactivo'}
                            td(class="px-6 py-4 whitespace-nowrap")
                                | #{reservacion.price}
