extends ../layout/index

block styles  
    style.
        #myTable_info, #myTable_paginate {
            font-size: 0.75rem;  // Ajusta el tamaño de letra según tus preferencias
        }
        .dataTables_filter input {
            font-size: 0.75rem;  // Ajusta el tamaño de letra del campo de búsqueda
        }

block content 
    nav(class="bg-amber-500 border p-2 font-extrabolder h-30 text-xl mx-auto").w-96.items-center.justify-center.flex-wrap.mt-5.rounded-xl.border.border-4
        p#msg.text-black.text-3xl.text-center.py-10.extrabold Hola #{loggedUser.name}, mira tu historial de reservaciones. 

    .bg-white.shadow.py-8.px-4.rounded-xl.mx-auto.my-10.text-center.font-extrabold.space-y-5.w-full.items-center.justify-center.flex-wrap.border.border-4.border-black(class="md:px-10 text-lg lg:w-11/12") 
        p(class="text-center") Historial de Reservaciones
        br
        br

        each reservacion in historialReservaciones
            li
                div(class="p-6 w-full flex flex-col sm:flex-row sm:items-center sm:justify-between space-y-8 gap-4 items-center")
                    div(class="sm:w-2/3 md:w-3/4 lg:w-5/6 text-center sm:text-left mx-auto flex items-center")
                        img(src="/img/reservado.png", alt="Imagen de la reserva", class="w-20 h-auto mx-auto md:ml-3") 
                        p(class="text-2xl text-black font-bold mx-auto")= `Fecha: ${reservacion.fecha.toLocaleDateString()}, Hora: ${reservacion.hora}, Tipo: ${reservacion.tipoReserva}, Habitacion: ${reservacion.room_ID}`
                        img(src="/img/factura100.png", class="w-20 h-auto mx-auto md:ml-3")
                    div(class="sm:w-1/3 md:w-1/4 lg:w-1/6 flex items-center justify-center")
                        //img(src="/img/factura100.png", class="w-auto h-auto mx-auto md:ml-3")
                        br
                        br
                        form(action=`/user/eliminarReservacion/${reservacion.id}`, method="POST")
                            input(type="hidden", name="_method", value="DELETE")
                            button(class="bg-red-500 text-white py-2 px-4 rounded-full", type="submit") Eliminar

        else    
          p.text-center No hay reservaciones.
